# Binaries for programs and plugins                                       
*.exe                                                                     
*.exe~                                                                    
*.test                                                                    
*.out                                                                     

# environment variables
.env